@font-face {
    font-family: 'adieu';
    src: local('Adieu-Bold.woff2'), url(../assets/font/Adieu-Bold.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'lorinBold';
    src: local('Lorin-Bold.woff2'), url(../assets/font/Lorin-Bold.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'lorinReg';
    src: local('Lorin-Regular.woff2'), url(../assets/font/Lorin-Regular.woff2) format('woff2');
    font-display: swap;
}

h1 {
    font-size: 3em;
    color: var(--white);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

:root {
    --white: #ffffff;
    --yellow: #FFEDCB;
    --black: #000000;
    --grey: #36373B;
}



