.paginationContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  background: $black;
  font-family: 'lorinReg';
  .arrowText {
    display: block;
    vertical-align: middle;
    font-size: 13px;
    vertical-align: middle;
  }
  .pageItem {
    width: auto;
    height: 100%;
    margin: 0px 10px;
  }
  .hide_arrow_container {
      display: none;
  } 

  .active {
    color: black;
    opacity: 1;
    background: $grey2;
  }

}
  
.pageLink {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  text-decoration: none;
  color: $white;
  font-family: 'lorinReg';
  border: 0px;
  color: white;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:hover {
    &:hover {
      background: $grey2;
      opacity: 0.8;
    }

  }
}

.disabled {
  pointer-events: none;
}




