header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 7vh;
  background: $black;
  font-family: 'adieu';
  color: $yellow;
  justify-content: space-around;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
    width: 100%;
    z-index: 999;
    .logo_header {
      width: auto;
      height: 100%;
      cursor: pointer;
      a {
        color: $white;
        cursor: pointer;
        letter-spacing: 5px;
        transition: 0.3s ease-in-out;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: auto;
        img {
          width: 25px;
        }
        p {
          font-size: 13px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .container_connexion {
      position: absolute;
      right: 0;
      height: 7vh;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a, button {
        display: flex;
        flex-direction: column;
        color: $white;
        text-decoration: none;
        transition: 0.1s ease-in-out;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        background-color: $black;
        border: 0px;
        font-family: 'adieu';
        align-items: center;
        padding: 0px;
        margin: 0px 10px;
        &::after {
          content: "";
          margin-top: 3px;
          width: 0%;
          height: 1px;
          color: white;
          background: white;
        }
        &:hover {
          color: $yellow;
          &::after {
            content: "";
            width: 100%;
          }
        }
        &:nth-child(2) {
          margin-right: 20px;
        }
      }
      button {
        margin-right: 20px;
        cursor: pointer;
      }
    }
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  top: 0;
  z-index: 999;
}

#nav-container .bg {
  position: absolute;
  top: 7vh;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: rgb(0, 0, 0);
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}

#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:hover {
      transition: 0.3s ease-in-out;
      .icon-bar {
        background: $white;
        &:nth-child(1) {
            width: 100%;
            
        }
        &:nth-child(2) {
            width: 70%;
        }
        &:nth-child(3) {
          width: 40%;
      }
      }
  }
  .icon-bar {
    display: block;
    width: 100%;
    height: 1px;
    background: $white;
    transition: .3s;
    transform: scaleY(0.7);
  }

}

.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,6px,0) rotate(45deg) scale(0.8);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-6px,0) rotate(-45deg) scale(0.8);
}

#nav-content {
  margin-top: 7vh;
  padding: 20px;
  width: 90%;
  min-width: 300px;
  max-width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
  font-size: 2.5rem;
  font-family: 'adieu';
   height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  ul {
    height: 60%;
    opacity: 1;
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    &:hover a {
    opacity: 0.3;
    }
    :hover a:hover {
        opacity: 1;
    }
    li {
        transition: 0.2s ease-in-out;
        text-align: justify;
        opacity: 1;
        margin-top: 8vh;
        a {
            transition: 0.4s ease-in-out;
            text-decoration: none;
            color: $black;
            font-family: 'adieu';
            font-size: 3rem;
        }
    }
} 
}

#nav-container:focus-within #nav-content {
  transform: none;
}


.mb-3 {
  font-size: 10rem;
}