#map { 
    height: 180px; 
}


.map-container {
    height: 300px;
}

.mapbox-container {
    height: 300px;
    width: 600px
}

// .mapboxgl-marker {
//     width: 25px;
//     height: 25px;
//     border-radius: 50%;
//     border:1px solid gray;
//     background-color:lightblue;
// }