.Toastify__toast-body { 
    background-color: $black;
    @media screen and (max-width: 768px) {
        font-size: 0.8rem;
        
    }
    
}

.Toastify__toast { 
    background-color: $black;
    font-family: $adieu;
    color: $white;
    border: 1px solid $white;
    @media screen and (max-width: 768px) {
        width: 80%;
        
    }
}
.Toastify__toast--rtl { 
    background-color: $black;
    font-family: $adieu;
    color: $white;
}

.Toastify__toast-icon { 
    color: $white;
}

.Toastify__progress-bar { 
    background-color: $white;
}

.Toastify__toast-container--bottom-right { 
    margin-bottom: 50px;
}