.loginForm {
    color: white;
    font-family: 'adieu';
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    max-width: 650px;
    min-width: 500px;
    height: 70%;
    min-height: 350px;
    max-height: 400px;
    margin: 50px;
    padding: 10px 0px;

    background-image: url(../../assets/img/noise.gif);
    position: relative;
    .form_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.929);
        z-index: 1;
        border: 1px solid white;
        background-size: cover;

    }
    .form-group  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 50%;
        z-index: 4;
        label {
            width: 100%;
            margin: 15px;
        }
        input {
            width: 100%;
            border: 0px;
            padding: 8px 0px;
            outline: none;
            border-radius: 3px;
            font-family: 'adieu';
            background-color: transparent;
            color: $white;
            &::placeholder {
                font-family: 'adieu';
                font-size: 0.9rem;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.7;
            }
        }
        &::after {
            margin-top: 0px;
            content: "";
            color: white;
            height: 0.5px;
            width: 100%;
            background-color: $white;
            opacity: 0.3;

        }
        .invalid-message {
            font-style: italic;
            font-size: 0.9rem;
            color: $white;
            display: flex;
            align-items: flex-start;
            width: 100%;
        }
        .is-invalid {
            color: $red;
            text-decoration: line-through;
        }

        button {
            width: 100%;
            border: 0px;
            padding: 8px;
            border-radius: 3px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            font-family: 'adieu';
            &:hover {
                opacity: 0.8;
            }
        }
    }
}