.globalPage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    .leftSideBar {
        z-index: -1;
        min-width: 20%;
        height: 100%;
        background-image: url(../../assets/img/navigation.png);
        filter: brightness(50%);
        background-attachment:fixed;
        background-size: contain;
        @media screen and (max-width: 1000px){
          display: none;
        }
    }
    .globalPageWrapper {
        display: flex;
        width: 80%;
        height: 100vh;
        background: $white;
        flex-direction: column;
        @media screen and (max-width: 1000px){
          width: 100%;
        }
        .globalPageHeader {
            min-height: 5vh;
            width: 100%;
            background: $black;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 7vh;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            z-index: 10;
            @media screen and (max-width: 768px){
              border-top: none;
            }
            
            p {
                color: white;
                font-family: 'lorinReg';
                letter-spacing: 1px;
                visibility: hidden;
            }
        }
        .globalPageWrapperCards {
            background: $black;
            min-height: 83vh;
            width: 100%;
            display: flex;
            justify-content: center;
            overflow-y: scroll;
            align-items: center;
            flex-direction: column;
            @media screen and (max-width: 768px){
             height: auto;
             overflow-y: auto;
            }
            .text_infos {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding-top: 5vh;
                h1 {
                    color: $white;
                    font-family: $adieu;
                    // font-size: 4rem;
                    margin-bottom: 10px;
                }
                h2 {
                    color: $white;
                    font-family: $lorinReg;
                    @media screen and (max-width: 768px){
                      width: 80%;
                    }

                }
                .fade-in {
                    animation-name: FadeIn;
                    animation-duration: 3s;
                    transition-timing-function: linear;
                  }
                  
                  @keyframes FadeIn {
                    0% {
                      opacity: 0;
                    }
                    100% {
                      opacity: 1;
                    }
                  }
            }
        
        }
        .globalFullPaginationContainer {
            background-color: $black;
            width: 100%;
            height: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            // z-index: 999;
        }
    }
}

.fade-in {
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
  }
  
  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
