html {
    font-size: 16px;
        h1 {
            font-size: 7rem;
            font-family: $adieu;
            color: $white;
        }
        
        h2 {
            font-size: 3rem;
        }
        
        h3 {
            font-size: 2.5rem;
        }

        h4 {
            font-size: 2rem;
        }
        
        p {
            font-size: 2rem;
            color: $white;
        }
        
        label {
            font-size: 2rem;
        }

    }
